.App {
  text-align: center;
}

:root {
  --link-color: rgb(24, 144, 255);
}

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .below {
  z-index: 1;
}
.outer .top {
  z-index: 2;
}